{% extends "partials/conteneur.html" %}

{% block body %}
    <div class="box-container">
    {%for winrate in account_updated%}
    {%if winrate[0]==None%}
        <div class="box_wr hover_wr">
            <div class="user_wr">{{winrate[1]}}</div>
            <div class="number_wr">X</div>
            <div class="text_wr">No Data</div>
        </div>
 
    {%elif (((winrate[0])|int)|round(1, 'ceil')) > 50%}
    <div class="box_wr hover_wr">
        <div class="user_wr">{{winrate[2]}}</div>
        <div class="number_wr green">{{winrate[0]|int|round}}%</div>
        <div class="text_wr">Winrate for {{winrate[1]}} games</div>
    </div>
    {%elif (((winrate[0])|int)|round(1, 'ceil')) < 50%}
    <div class="box_wr hover_wr">
        <div class="user_wr">{{winrate[2]}}</div>
        <div class="number_wr red">{{winrate[0]|int|round}}%</div>
        <div class="text_wr">Winrate for {{winrate[1]}} games</div>
    </div>
    {%endif%}
    {% endfor %}
    </div>

{% endblock %}