<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
  <title>FriendFinder for LOL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <nav id="menu">
        <div class="menu-item">
            <div class="menu-text">
                <a href='{{ url_for('login') }}'>Account</a>
            </div>
            <div class="sub-menu">
                <div class="icon-box">
                    <div class="icon"><ion-icon name="arrow-redo"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('add_new_user') }}'class="title">Create an Account<i class="far fa-arrow-right"></i></a>
                        <div class="sub-text">In order to save your settings.</div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><ion-icon name="arrow-redo"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('login') }}'class="title">Login</a>
                        {% if current_user.is_authenticated %}
                        <div class="sub-text">Hello {{current_user.username}}</div>
                        {% else %}
                        <div class="sub-text">You can Log in here.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><ion-icon name="arrow-undo"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('logout') }}'class="title">Logout</a>
                        <div class="sub-text">Log out of your account.</div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="{{ url_for('list_of_friends') }}">My friends</a>
            </div>
            <div class="sub-menu">
                <div class="icon-box">
                    <div class="icon"><ion-icon name="add"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('add_account') }}'class="title">Add a new friend</a>
                        <div class="sub-text">Keep tracks whith your friend list.</div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><ion-icon name="list"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('list_of_friends') }}'class="title">My list of friends</a>
                        <div class="sub-text">Watch every account that you follow.</div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><ion-icon name="trending-up-outline"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('winrate_friends') }}'class="title">Winrate</a>
                        <div class="sub-text">The winrate for today of all your friends.</div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="{{ url_for('select_account_mastery') }}">Mastery</a>
            </div>
            <div class="sub-menu">
                <div class="icon-box">
                    <div class="icon"><ion-icon name="trophy"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('select_account_mastery') }}' class="title">Points</a>
                        <div class="sub-text">What is the most played champion for one account?</div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href='{{ url_for('select_account') }}'>Recap</a>
            </div>
            <div class="sub-menu">
                <div class="icon-box">
                    <div class="icon"><ion-icon name="bookmarks"></ion-icon></div>
                    <div class="text">
                        <a href='{{ url_for('select_account') }}'class="title">Match Records</a>
                        <div class="sub-text">Get a recap for the last 5 Ranked Matches.</div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
    </nav>

  <div class="container_flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert" >{{ message }}<span class="closebtn" onclick="this.parentElement.style.display='none'">×</span> </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}
  </div>
    {% block body %}{% endblock %}
<div id="info-box">
    <ul>
        <li><a target="_top" href="https://github.com/Samuel-Scalbert/FriendFinder-for-LoL">GitHub Repo</a></li>
    </ul>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>